{% include "base.html" %}

{% block content%}
{% if user.is_authenticated %}
<body style="background-color: #999999;text-align:center;">
    <head><style>
        table, th, td {
          border: 1px solid black;
        }
        .container {
        width: 48%;
        margin: 0 auto;
        padding: 20px;
        background: #333333;
    }
    input,.btn{
        background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
    }
        </style></head>
<h1 style="text-align: center;">MODULE 3</h1>
<div class="container">
<table style="background-color: blanchedalmond; float: inherit;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Module</th>
            <th>File</th>
            <th>Description</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td style="display: table-cell;">{{ file.Title }}</td>
            <td style="display: table-cell;">{{ file.Module }}</td>
            <td style="display: table-cell;"><a href="{{ file.File.url  }}"> download PDF </a></td>
            <td style="display: table-cell;">{{ file.Description }}</td>
            <td style="display: table-cell;">{{ file.Email }}</td>
            

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="container">

     <a href=" module_3_upload/"><input type="button" value="upload"></a>
</div>
</body>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock%}